body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
#container{
    background-color: antiquewhite;
    padding: 0px 10px ;
}
.btn{
    background-color: brown;
    color: beige;
    border: none;
    font-size: 32px;
    padding: 0px 10px;
}
#value{
    border: 1px solid black;
    padding: 7px 10px;
}